services:  
  rpicam:
    image: ghcr.io/eai-ag/rpicam:trixie
    build:
      context: .
      dockerfile: Dockerfile
    privileged: true
    network_mode: host
    ipc: host
    pid: host
    restart: unless-stopped
    group_add:
      - video 
    volumes:
      - /dev:/dev
      - /run/udev:/run/udev
    environment:
      - UID=${HOST_UID}
      - ROS_DOMAIN_ID=24
    command: /run.sh
    
    # gst-launch-1.0 libcamerasrc ! video/x-raw,width=1280,height=720,framerate=30/1 ! videocrop left=270 right=290 ! queue ! jpegenc ! multipartmux ! tcpserversink host=0.0.0.0 port=5000 
    # gst-launch-1.0 libcamerasrc ! video/x-raw,width=1920,height=1080,framerate=30/1 ! videoconvert ! queue ! video/x-raw,format=I420 ! x264enc tune=zerolatency speed-preset=ultrafast bitrate=8000 ! h264parse ! tcpserversink host=0.0.0.0 port=5000
