
services:  
  rpicam:
    container_name: rpicam
    image: ghcr.io/eai-ag/rpicam:trixie
    build:
      context: .
      dockerfile: Dockerfile
    privileged: true
    network_mode: host
    restart: unless-stopped
    group_add:
      - video 
    volumes:
      - /dev:/dev
      - /run/udev:/run/udev
    command: gst-launch-1.0 libcamerasrc ! video/x-raw,width=1920,height=1080,framerate=30/1 ! videoconvert ! queue ! video/x-raw,format=I420 ! x264enc tune=zerolatency speed-preset=ultrafast bitrate=8000 ! h264parse ! tcpserversink host=0.0.0.0 port=5000

# ! mpegtsmux

# gst-launch-1.0 libcamerasrc ! video/x-raw,width=1920,height=1080,framerate=30/1 ! \
#       videoconvert ! queue ! video/x-raw,format=I420 ! x264enc tune=zerolatency speed-preset=ultrafast bitrate=8000 ! \
#       h264parse ! mpegtsmux ! tcpserversink host=0.0.0.0 port=5000


      # # rpicam-vid -t 1 -n 
      # # --codec libav --libav-format mpegts 
      # # --width 1920 --height 1080 --framerate 30 
      # # --low-latency=1 
      # # -o tcp://0.0.0.0:5000?listen=1


      # 